NODE_ENV=development
PORT=3000
API_URL=http://localhost:3000

# DATABASE
DATABASE_URL="postgresql://postgres:password@localhost:5432/evaluacode?sslmode=disable"

CLOUDINARY_URL=

# AI SERVICES
GEMINI_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=


# JWT AUTHENTICATION
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_REFRESH_SECRET="a6f8c2e4b9d7e3f1a2c5b8e9f2a6d3c7e1f4a8b5c9f2e6a3d8c1f5b2e9a4d7c6f1"
JWT_ACCESS_TOKEN_EXPIRES_IN="15m"
JWT_REFRESH_TOKEN_EXPIRES_IN="7d"


# CORS ORIGINS (comma separated)
CORS_ORIGINS="*"
#"http://localhost:3000,http://localhost:5173,http://localhost:8080,0.0.0.0"

# RATE LIMITING
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# FILE UPLOAD LIMITS
MAX_FILE_SIZE=10485760
ALLOWED_FILE_TYPES="image/jpeg,image/png,application/pdf"

# LOGGING
LOG_LEVEL=info
LOG_FILE_PATH="./logs/app.log"